/* ion-toolbar {
    --background: #13111c;
    --color: #ffffff;
} */

ion-card {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

ion-card {
    text-align: center;
}

ion-img {
    width: 150px;
    height: 100px;
    align-self: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
}

.Prestamos {
    background: #305e5e;
}

.Vacaciones {
    background: #446449;
}